<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <!--<variable name="myvar" value="myvalue" />-->

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="Infofile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}/Info.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Info" writeTo="Infofile" />
  </rules>
</nlog>